<ul id='categories' class='dropdown-content'>
  <li *ngFor="let category of categories"><a href="#!">{{category.name}}</a></li>
</ul>
<ul id='ratings' class='dropdown-content'>
  <li><a href="#!">1</a></li>
  <li><a href="#!">2</a></li>
  <li><a href="#!">3</a></li>
  <li><a href="#!">4</a></li>
  <li><a href="#!">5</a></li>
</ul>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate">
        <label>Blog Title</label>
      </div>
      <div class="input-field col s12">
        <textarea class="materialize-textarea"></textarea>
        <label>Blog Description</label>
      </div>
      <div class="input-field col s12">
        <input type="text" class="validate">
        <label>Author Name</label>
      </div>

      <div class="col s12">
        <a class="waves-effect waves-light btn center">Save</a>
      </div>
    </div>
  </form>
</div>
