<input type="text" [(ngModel)]="searchText" placeholder="search here">
<div class="row blog-card" *ngFor="let blog of blogs | search: searchText" (click)="selectBlog(blog)">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{blog.title}}</span>
        <p>{{blog.desc | slice:0:200}}...</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
