<ul id='ratings' class='dropdown-content'>
  <li><a href="#!">1</a></li>
  <li><a href="#!">2</a></li>
  <li><a href="#!">3</a></li>
  <li><a href="#!">4</a></li>
  <li><a href="#!">5</a></li>
</ul>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="title" [(ngModel)]="blog.title" placeholder="Blog title goes here">
        <label>Blog Title</label>
      </div>
      <div class="input-field col s12">
        <textarea class="materialize-textarea" name="desc" [(ngModel)]="blog.desc" placeholder="Blog desc goes here"></textarea>
        <label>Blog Description</label>
      </div>
      <div class="input-field col s12">
        <input type="text" class="validate" name="authorId" [(ngModel)]="blog.authorId" placeholder="Author name goes here">
        <label>Author Name</label>
      </div>
      <div class="input-field col s6" *ngIf="categories != null">
        <select #category>
          <option value="" disabled selected>Choose an option</option>
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
        <label>Category</label>
      </div>
      <div class="col s12">
        <a class="waves-effect waves-light btn center"(click)="save()">Save</a>
      </div>
    </div>
  </form>
</div>
