<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" class="validate" name="title" [(ngModel)]="blog.title" placeholder="Blog title goes here">
        <label>Blog Title</label>
      </div>
      <div class="input-field col s12">
        <textarea class="materialize-textarea" name="desc" [(ngModel)]="blog.desc" placeholder="Blog desc goes here"></textarea>
        <label>Blog Description</label>
      </div>
      <!--<div class="input-field col s12">
        <input type="text" class="validate" name="authorId" [(ngModel)]="blog.authorId" placeholder="Author name goes here">
        <label>Author Name</label>
      </div>-->
      <div class="input-field col s6">
        <select name="category" #category [(ngModel)]="blog.categoryId">
          <option name="category" value="" disabled selected>Choose an option</option>
          <option name="category" value="1">Cultural</option>
          <option name="category" value="2">Technical</option>
          <option name="category" value="3">Medical</option>
          <option name="category" value="4">Social</option>
          <option name="category" value="5">Others</option>
        </select>
        <label>Category</label>
      </div>
      <div class="col s12">
        <a class="waves-effect waves-light btn left"(click)="save()">Save</a>
        <a class="waves-effect waves-light btn right"(click)="resetForm()">Reset</a>
      </div>
    </div>
  </form>
</div>
